body {
    margin: 0;
}

.first {
    max-width: fit-content;
    margin: auto;
    font-size: 3vh;
    background-color: antiquewhite;
    border: solid 2px black;
}

.first table p{
    padding: 0px 10px 0px 10px;
}