* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.CAD {
    background-color: #192734;

    height: 100vh;
    width: 100%;
}

.d-inline-block {
    margin-left: 10px;
}

nav .navbar-brand {
    font-family: "Oswald";
    color: maroon;

    font-size: 4vh;
    font-weight: 600;
}

.navbar-nav {
    flex-direction: row !important;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item a {
    border-radius: 4px;
}

.wrapper{
    width: 90%;
    margin: 0 auto;

    position: relative;
}

#Home{
    margin-top: 150px;
    display:flex;
    flex-direction: column;
}

.kolom{
    font-family: "Nunito Sans", sans-serif;
    background-color: #FBA834;

    order:2;
    margin: 50px 0;
    padding: 2vh;
    
    font-size: 1.2em;

    border: 1px solid transparent;
    border-radius: 7px;
    box-shadow: 10px 12px 0 1px maroon;
}

#Home .gambar{
    order:1 ;
    text-align: center;
}

#Home .gambar img{
    width: 60%;
    box-shadow: 30px -16px #FBA834;
}

.link-connect {
    display: flex;
    flex-direction: column;
    gap: 1em;
}



@media only screen and (min-width: 991px){
    #Home{
        display:flex;
        flex-direction: row;
        margin-top: 10%;
        font-size: 20px;
        width: 100%;
    }

    #Home .gambar img{
        margin-top: 30px;
        width: 400px;
    }

    .kolom {
        order:1;
        
        margin: 50px 50px 50px 0;
        font-size: 2em;
    }

    #Home .gambar{
        order:2;
    }

    .link-connect {
        flex-direction: row;
    }
}
