* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.CAD {
    background-color: #FEB941;
}

.d-inline-block {
    margin-left: 10px;
}

nav .navbar-brand {
    font-family: "Oswald";
    color: #FDE49E;
    font-size: 4vh;
    
}

.navbar-nav {
    flex-direction: row !important;

    gap: 10px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (min-width: 600px){
    
}